<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>
Login
<body>
<h1>Welcome to the Scheduler</h1>
<form action="" method="post" name="login"> {% csrf_token %}
<label for="uname">Username</label>
<input type="text" name="uname" id="uname" />
<br /><br />
<label for="pword"> Password </label>
<input type="password" name="pword" id="pword" />
<input name="login" type="submit" value="Login"  />
</form>
</body>
</html>
