<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Grades: Select Semester</title>
</head>

<body>
	<h2> Grades for {{user.firstname}} </h2> <br />
	Please Select a Semester:
    <form action="grades.html" method="get">
    <select name="semester" size="1">
    {%for semester in semesters %}
    <option id="{{semester.name}}"> {{semester.name}} </option>
    {% endfor %}
    </select>
    <input type="submit" value="get grades">  
    </form>
</body>
</html>
